
@{
    ViewBag.Title = "Create";
}

<h2>Create Amenity</h2>
<form action="/Amenitie/Create" method="POST">
    <div>
        <label>Amenity Name:</label>
        <input type="text" name="AmenityName" />
    </div>
    <div>
        <input type="submit" value="Add Amenity" />
    </div>
</form>
